<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>My Jupyter Notebook on IBM Watson Studio<h1>

<strong>Forouzan Sepahvand</strong>
<br>
Data Scientist

<i>I'm intrested in data science because I get to explore insights from data to use in business, seek market opportunities and solve business problems.</i>

<h3>This code will replace a character in a string<h3>

In [5]:
string = "One Two Three" 
rpl_string=string.replace("One", "Four")
print(rpl_string)

Four Two Three

<ul>
  <li>One</li>
  <li>Two</li>
  <li>Three</li>
</ul>

<br>

<ol>
  <li>One</li>
  <li>Two</li>
  <li>Three</li>
</ol>

<br>

<table style="width:50%; border:1px solid black;">
    <tr><th>Date</th>
    <th>TransactionID</th>
<th>CustomerID</th>
    </tr>
<tr>
    <td>2022-09-06</td>
    <td>135267</td>
    <td>12345</td>
    </tr>
</table>

<br>

 <a href="https://www.coursera.org/">Visit Coursera website!</a>